@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
*{
    box-sizing: border-box;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Raleway', sans-serif;
}
.navigation-bar li,
.navigation-bar a,
.navigation-bar button{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: ghostwhite;
    text-decoration: none;
}

.navigation-bar h1{
    font-family: 'Raleway', sans-serif;
    background-color: #242424;
    font-weight: 600;
    font-size: 20px;
    color: ghostwhite;
    text-decoration: none;
}

/* nav bar start */
.navigation-bar{
    background-color: #242424;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.logo:hover{
    color: rgb(134, 23, 212);
}

.navigation-bar button{
    padding: 9px 25px;
    background-color: rgb(135, 28, 211, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.navigation-bar button:hover{
    background-color: rgb(135, 28, 211, 0.8);
}
hr{
    background-color: gray;
    margin-top: 20px;
    margin-left: 30rem;
    margin-right: 30rem;
}
/* nav bar end */
.pick-character h1{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
}

.pick-character [type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
.pick-character [type=radio] + img {
    cursor: pointer;
    filter: grayscale(100%);
    transition: .5s;
}

  /* CHECKED STYLES */
.pick-character [type=radio] + img:hover {
    filter: grayscale(0);
}

.pick-character [type=radio]:checked + img {
    filter: grayscale(0);
}

.pick-character img{
    max-height: 245px;
    max-width: 245px;
}

.pick-character .col-sm{
    text-align: center;
}

.pick-character .center{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.pick-character button{
    margin-top: 40px;
    font-weight: 600;
    width: 200px;
    background-color: rgb(122, 21, 216);
    border: none;
    border-radius: 20px;
    height: 40px;
    transition: 1s;
}

.pick-character button:hover{
    background-color: gainsboro;
    color: rgb(122, 21, 216);
}
