@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@445&display=swap");
body {
    margin: 0;
    padding: 0;
}
.row {
    line-height: 0;
}
.wall {
    background-color: rgb(144,123,38); 
    height: 50px;
    width: 50px;
    display: inline-block;
}
.breakable_rock {
    height: 50px;
    width: 50px;
    display: inline-block;
    background-image: url("/static/images/breakable_rock.png");
    background-color: rgb(75 109 73);
    background-size: contain;
}
.solid_rock {
    height: 50px;
    width: 50px;
    display: inline-block;
    background-image: url("/static/images/solid_rock.png");
    background-color: rgb(75 109 73);
    background-size: contain;
}	
.fruit {
    height: 50px;
    width: 50px;
    display: inline-block;
    background-image: url("../Images/George.png");
    background-color: rgb(75 109 73);
    background-size: contain;
}	
.grass {
    background-color: rgb(13,9,10); 
    height: 50px;
    width: 50px;
    display: inline-block;
    background-image: url("/static/images/grass_tile.png");
}
.dirt {
    background-color: rgb(13,9,10); 
    height: 50px;
    width: 50px;
    display: inline-block;
    background-image: url("/static/images/dirt_tile.png");
}
#donta {
    height: 50px;
    width: 50px;
    position: absolute;
    background-image: url("/static/images/user_sprite_moving/donta_front_walking.gif");
}

#droma1 {
    height: 50px;
    width: 50px;
    position: absolute;
    background-image: url("/static/images/enemy_sprite_moving/enemy_front_moving.gif");
}

#droma2 {
    height: 50px;
    width: 50px;
    position: absolute;
    background-image:  url("/static/images/enemy_sprite_moving/enemy_front_moving.gif");
}

#droma3 {
    height: 50px;
    width: 50px;
    position: absolute;
    background-image:  url("/static/images/enemy_sprite_moving/enemy_front_moving.gif");
}

#droma4 {
    height: 50px;
    width: 50px;
    position: absolute;
    background-image:  url("/static/images/enemy_sprite_moving/enemy_front_moving.gif");
}


#score {
    background-color: rgb(13,9,10); 
    color: rgb(133,68,45);
    border: 4px rgb(185,208,56) solid;
    font-weight: bold;
    font: 20px "Times New Roman", times, serif;
    height: 40px;
    width: 196px;
    display: inline-block;
    clear: left;
}
#lives {
    background-color: rgb(13,9,10); 
    color:  rgb(133,68,45);
    border: 4px  rgb(185,208,56) solid;
    font-weight: bold;
    font: 20px "Times New Roman", times, serif;
    height: 40px;
    width: 184px;
    display: inline-block;
    clear: right;
}

/* Weapon Select Popup end */
/* Brick Control Start */
.body {
    background: url('../Images/grass_tile.png');
    margin: 0px;
}
div#world {
    position: relative;
}

div.row div {
    width: 20px;
    height: 20px;
    display: inline-block;
    font-size: 0px;
}
div.brick {
    background: url('../Images/solid_rock.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
div.empty {
    background: url('../Images/grass_tile.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
div.coin {
    background: url('../Images/fruit.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
div.cherry {
    background: url('../Images/chimichanga.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
div#pacman {
    margin-top: 110px;
    background: url('../Images/user_sprite/donta_back_pickup.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
}
/* Brick Control End */
