<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero Status</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/stats.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/stats.css">
</head>
<body>
    <header>
        <nav>
            <ul class="nav_links">
                <li>
                    <a class="cta" href="/shop"><button>Market</button></a>
                </li>
                <li>
                    <a class="cta" href="/character"><button>Player Select</button></a>
                </li>
                <li>
                    <a class="cta" href="/player"><button class="select">Hero Status</button></a>
                </li>
                <li>
                    <a class="cta" href="/game"><button>Return to Game</button></a>
                </li>
                <li>
                    <a class="cta" href="/logout"><button>Logout</button></a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="the-player">
        <form action="">
            <!-- info box -->
            <div class="status">
                <div class="user-stats">
                    <div>
                        <label for="">UserName</label>
                        <input type="text" name="username" id="">
                    </div>
                    <div>
                        <label for="">Special Ability</label>
                        <input type="text" name="first_name" id="">
                    </div>
                </div>
                <!-- Weapons -->
                <div class="gear-info">
                    <!-- selected Wapon -->
                    <div class="picked-gear">
                        <div class="main-img">
                            <img src="../static/Images/user_sprite/donta_front_pickup.png" alt="">
                            <h1>NAME</h1>
                            <h3>Power</h3>
                            <p>205</p>
                        </div>
                    </div>
                    <!-- waepon select -->
                    <div class="gear">
                        <div class="row ">
                            <label class="col-sm">
                                <input type="radio" name="test" value="small" checked>
                                <img src="../static/Images/scythe.png" alt="">
                                <p>Weapon</p>
                            </label>
                            <label class="col-sm">
                                <input type="radio" name="test" value="big">
                                <img src="../static/Images/pacman.gif" alt="">
                                <p>Weapon</p>
                            </label>
                            <label class="col-sm">
                                <input type="radio" name="test" value="big">
                                <img src="../static/Images/scythe.png" alt="">
                                <p>Weapon</p>
                            </label>
                            <label class="col-sm">
                                <input type="radio" name="test" value="big">
                                <img src="../static/Images/pacman.gif" alt="">
                                <p>Weapon</p>
                            </label>
                        </div>
                        <div class="row ">
                            <label class="col-sm">
                                <input type="radio" name="test" value="big">
                                <img src="../static/Images/pacman.gif" alt="">
                                <p>Weapon</p>
                            </label>
                            <label class="col-sm">
                                <input type="radio" name="test" value="big">
                                <img src="../static/Images/scythe.png" alt="">
                                <p>Weapon</p>
                            </label>
                            <label class="col-sm">
                                <input type="radio" name="test" value="big">
                                <img src="../static/Images/pacman.gif" alt="">
                                <p>Weapon</p>
                            </label>
                            <label class="col-sm">
                                <input type="radio" name="test" value="big">
                                <img src="../static/Images/scythe.png" alt="">
                                <p>Weapon</p>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Profile box -->
            <div class="profile">
                <div class="user-img">
                    <img src="../static/Images/goku.png" alt="">
                    <h1>Goku</h1>
                    <p>Special Ability</p>
                    <h3>Ultra Instinct</h3>
                </div>
                <div class="stats row">
                    <div class="abilities col-sm">
                        <h4>Health</h4>
                        <p>Power</p>
                    </div>
                    <div class="abilities col-sm">
                        <h4>Health</h4>
                        <p>Power</p>
                    </div>
                    <div class="abilities col-sm">
                        <h4>Health</h4>
                        <p>Power</p>
                    </div>
                    <div class="abilities col-sm">
                        <h4>Health</h4>
                        <p>Power</p>
                    </div>
                </div>
            </div>
            <!-- About Player box -->
            <div class="bio">
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
            <div class="btns">
                <button type="submit">Update</button>
            </div>
        </form>
    </div>
</body>
</html